/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button-primary {
    background-color: var(--mainblack);
    color: var(--mainwhite);
  }
  
  .button-primary:hover {
    background-color: #333;
  }