/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Intro Section Styles */
.intro {
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 976px;
}

.intro h1 {
    font-size: 2.8rem;
    font-weight:900;
    color: #454545;
    margin-bottom: 0;
}

.intro h2 {
    font-size: 1.9rem;
    font-weight: 500;
    color: #454545;
    margin-bottom: 24px;
}

p {
    font-size: 1rem;
    color: #454545;
    margin-top: 0.5rem;
    margin: 1rem;
    line-height: 1.7rem;
}

.paragraph li {
    line-height: 1.7rem;
    margin: 1rem;
}

.intro p {
    font-size: 1.2rem;
    color: #5b5b5b;
    margin-top: 0.5rem;
    line-height: 1.5em;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding:0;
    background-color: #fafafa;
}


/*HEADERS*/

header {
display: flex;
font-family: 'Inter', sans-serif;
justify-content: space-between;
align-items: center;
width: 100%;
margin-top: 1rem;
padding: 0 2rem;
}


header h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3.5rem;
    font-weight:900;
    margin-bottom: 1.5rem;
}

header p {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
}


nav a {
    margin: 1rem;
    text-decoration: none;
    color: #333;
}

.nav-menu  {
    list-style-type:none;
    padding:0;
    display:flex
}

.nav-menu li {
    margin-right:8px;
}

.nav-menu a  {
    text-decoration: none; /* Remove underline */
    color: #000; /* Default link color */
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #2671c2; /* Change to your desired hover color */
    transform: scale(1.05); /* Slightly increase size on hover */
}

.download-link {
    display: inline-flex; /* Use flex to align items horizontally */
    align-items: center; /* Center items vertically */
}

.bi-download {
    font-size: 1rem; /* Size of the icon */
    margin-left: 0.3em;
    font-weight: 700;
}

.bi-download:hover {
    transform: none; /* Prevent separate hover effect on the icon */
}

section {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.h2-intro  {
    display:flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    padding: 0;
    font-weight: bold;
    margin:auto;
    height:100px;
    width:fit-content;
    line-height: 0;
    
    }

.h2-intro i  {
        margin: 0.5rem;
        font-size: 1.3rem; /* Increase the size of the icon */
        color: #48327d; /* Change the color of the icon */
        transition: transform 0.4s ease; /* Add a transition effect */
        transform-origin:center;
    }

.bi-arrow-down-circle:hover  {
        transform: rotate(360deg)
    }

.button a {
    color:#000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    }

.intro i {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    }

.project {
    flex: 1 1 calc(50% - 20px); /* 2 columns on large screens */
    padding: 8px; /* Increased padding for larger project boxes */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in width/height */
    height: auto; /* Set a fixed maximum height for uniformity */
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Space between children */
    overflow: hidden;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth transition */
}

.project-image {
    height: auto;
    margin-top: 1rem;
    object-fit: cover;
    width: 100%;
}


.project:hover {
    transform: scale(1.05); /* Slightly enlarge the project box */
}

a {
    text-decoration: none;
    color: #000;
    }

.project h3 {
    margin: 8px 0 0;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    color: #454545;
    text-decoration: none;
}

/* CASE STUDIES */


.case-study {
    padding: 2rem;
    margin: auto;
    text-align: left;
    max-width: 992px;
    color: #454545;
}

.case-study h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.case-study h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.case-study p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
    color: #000;
}

.image-gallery {
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; /* Space above the image gallery */
}

.image-item {
    text-align: center; /* Center titles below images */
    margin-bottom: 80px;
}

.site-image {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}


.image-item p {
    text-align: left;
    font-weight: 600;
    margin-bottom: 40px;
}

.sommaire {
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Space between columns */
    flex-wrap: wrap; /* Allow wrapping */
    width: 100%;
    margin-bottom: 40px;
}

.column {
    flex: 1; /* Each column takes equal space */
    min-width: 200px; /* Optional: Set a minimum width for columns */
    margin: 10px; /* Optional: Add some margin between columns */
    box-sizing: border-box; /* Ensure padding and borders are included in total width */
}

/*OSMIA*/
.case-study .osmia h2 {
    color: rgb(26, 169, 92)
    }

/*SPOTIFY*/
.spotify {
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding:0;
    background-color: #021323;
    color: #dddddd;
}

.spotify p {
    color: #dddddd;
    font-weight: 300;
    font-size: 1.1rem;
}

.spotify h1 {
    color: #dddddd;
    margin-bottom: 80px;
}

.spotify h2 {
    background: linear-gradient(130deg,#5364FF , #a015b0 );
    -webkit-background-clip: text ;
    color: transparent; /* Make the text color transparent */
}

.intro-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-flex h2 {
    flex: 1;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: left;
    line-height: 3.2rem;
}

.intro-flex .project-image {
    width: 35%;
    height: auto;
}

.intro-flex p {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin: 0;
    margin-top: 34px;
    padding-right: 80px;
}

.spotify .case-study h2 {
    text-align: center;
    margin-top: 120px;
}

.spotify .flex-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.flex-section .project-image {
    width: 60%;
    height: auto;
    position: relative;
}



/*CIRCLES BACKGROUND*/

.flex-section::before {
    content: '';
    position: absolute;
    background: rgba(117, 84, 237, 0.43); /* Light background with transparency */
    z-index: 0; /* Place behind the content */
    filter: blur(90px);
    opacity: 1;
    border-radius: 50%;
    overflow: visible;
}

.flex-section::after {
    content: '';
    position: absolute;
    background: rgba(179, 33, 237, 0.41); /* Light background with transparency */
    z-index: 0; /* Place behind the content */
    filter: blur(90px);
    opacity: 1;
    border-radius: 50%;
    overflow: visible;
}

.flex-section::before {
    width: 549px; /* Adjust size as needed */
    height: 542px; /* Adjust size as needed */
    top: -50px; /* Position it above the section */
    left: -50px; /* Position it to the left */
}

.flex-section::after {
    width: 350px; /* Adjust size as needed */
    height: 350px; /* Adjust size as needed */
    bottom: 50px; /* Position it below the section */
    right: -50px; /* Position it to the right */
}

.div-center {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.animation img {
    margin: 0;
    padding: 20px;
    width: 35%;
    height: auto;
}


/*CARDS*/
.card-container {
    position: relative;
}

.spotify .card-text {
    backdrop-filter: blur(10px); 
    background-color: rgba(217, 217, 217, 0.09); 
    filter: blur(0px); 
    padding: 30px;
    border-radius: 20px; 
    opacity: 1;
    max-width: 580px;
    z-index: 1;
    position: relative;
    flex:0 0 45%;
    margin: 0;
    justify-content: left;
}

.card-text-left {
        backdrop-filter: blur(12px);
        background-color: rgba(217, 217, 217, 0.09);
        filter: blur(0px);
        padding:30px;
        height: 100%;
        width: 100%;
        border-radius: 26px;
        opacity: 1;
}

.card-container .right-card {
    position: relative;
    top: -50px;
    left: -50px;
}

.card-container .card-left {
    position: relative;
    bottom: 50px;
    right: -50px;
}



/*CATAN*/

.catan h4 {
    color: #4481FA;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 80px; 
    margin-bottom: 8px;
    text-align: left;
 }

 .catan .paragraph {
    margin-top: 120px;
    }

.catan .case-study h3 {
    margin-top: 8px;
    margin-bottom: 24px;
    }

.catan .image-item p {
    text-align: center;
    font-weight: 400;
    color: #7e7e7e;
}

.usability-flex {
    display: flex;
    justify-content: center;
    align-items:left;
}

.catan .image-item {
    text-align: center; /* Center titles below images */
    margin: 0;
}

.catan .columns {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
  
}

.column h4 {
    margin: 0;
    padding: 0;
} 

.catan .column {
    flex: 1;
    text-align: left;  
}

.ui-flex {
    margin-top: 80px;
}

.case-study .column {
    padding: 0;
    margin: 0;
}

.button-container {
    text-align: center; /* Center the button horizontally */
    margin-top: 10rem; /* Space above the button */
    font-family: 'Inter', sans-serif;
}


.next-case-study-button {
    display: inline-block; /* Make it an inline block for padding */
    padding: 10px 20px; /* Add padding for a better appearance */
    color: rgb(0, 0, 0); /* Text color */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Rounded corners */
    border: 2px solid black; /* Black stroke */
    font-size: 1rem; /* Font size */
    transition: background-color 0.3s; /* Transition effect for hover */
}

.next-case-study-button:hover {
    background-color: #000000; /* Darken background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    color: #fafafa;
}


.button {
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 20px; /* Add padding for a button-like appearance */
    background-color: #000000; /* Button background color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-top: 1em;
}

.button:hover {
    background-color: #2f2f2f; /* Darken background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}


footer {
    text-align: center;
    background: #f4f4f4;
    color: #000000;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the links */
}

.footer-links li {
    margin: 0 10px; /* Space between links */
}

.footer-links a {
    color: #000000;
    text-decoration: none;
}

.footer-links :hover {
    color: #007bff; /* Change to your desired hover color */
    transform: scale(1.05); /* Slightly increase size on hover */
}

.work-flex {
    display: flex;
      flex-wrap: wrap;
      gap: 20px;
}

.contact {
    display: flexbox;
    background-color: none;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    margin-bottom:60px;
}

#About {
    width: 100%; /* Ensure the About section takes up the full width */
    padding: 20px; /* Optional: add padding for spacing */
    box-sizing: border-box; /* Include padding in the total width */
}

.about-flex {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Center the items horizontally */
    align-items: center;
    width: 100% ; 
    margin: 0 auto; /* Center the container with margin */
}

.cv, .linkedin-section {
flex: 1;
margin-left: 120px;
}

.linkedin-section {
    display: flex;
    flex-direction: column; /* Stack the image and paragraph vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    margin-right: 100px;
    margin: auto;
}

.cv img {
width: 100%;
height: auto;
}

.linkedin-pic img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.linkedin-description {
    margin-top: 10px; /* Space above the paragraph */
    line-height: 1.5em; /* Adjust line height for better readability */
    width: 100%; /* Set a specific width (adjust as needed) */
    margin-left: auto; /* Center the div horizontally */
    margin-right: auto; /* Center the div horizontally */
    padding: 10px; /* Optional: add padding for better appearance */
    text-align: center;
}

.linkedin-description p {
   margin-bottom:16px;
}


.download-resume {
   justify-content: center;
   text-align: center;
   padding: 8px;
   margin: 1 auto;
}

.email  {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.footer-content {
        text-align: center; /* Center the text and icons */
    }

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the links */
    gap: 0rem; /* Space between links */
    margin-bottom: 1rem; /* Space below the links */
}

.footer-icons {
    display: flex;
    justify-content: center; /* Center the icons */
    gap: 0.8rem; /* Space between icons */
}

.footer-icon {
        text-decoration: none; /* Remove underline */
        color: #333; /* Default icon color */
        font-size: 1rem; /* Adjust icon size */
        transition: color 0.3s ease; /* Smooth transition for hover effect */
    }
    

 .figma-icon {
        width: 10px; /* Set the width of the image */
        height: auto; /* Maintain aspect ratio */
        transition: filter 0.3s ease; /* Smooth transition for hover effect */
    }



/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav a {
        display: flex;
        margin: 0.5rem 0;
    }


    .project {
        flex: 1 1 100%;
        margin-bottom: 24px;
    }

    .project-image {
        max-width: 100%;
    }
         
    .about-flex {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items */
        width: 100%;
    }

    .cv, .linkedin-section {
        width: 100%; /* full width smaller screens */
        margin: auto;
    }

    .cv img {
        width: 100%; /* Adjust width for smaller screens */
    }

    .linkedin-pic img{
        width: 100%; /* Adjust width for smaller screens */
    }

    .project h3 {
        margin-top: 8px;
    }

    .footer-links {
        flex-direction: column; /* Stack links vertically on small screens */
    }

    .footer-links li {
        margin: 5px 0; /* Vertical spacing on small screens */
    }

    .footer-links {
        flex-direction: column; /* Stack links vertically on small screens */
    }
    .footer-icons {
        margin-top: 1rem; /* Space above icons on small screens */
    }
    .sommaire {
        flex-direction: column; /* Stack columns vertically */
    }
}

.logo {
 display: flex;
 align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
}

/* Navigation Menu */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav-menu a:hover {
    color: #007bff; /* Customize hover color */
}

/* Burger Menu Icon */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.burger-menu span {
    height: 3px;
    width: 24px;
    background-color: #333;
    margin: 3px;
    transition: 0.3s;
}

/* Responsive Layout */
@media (max-width: 768px) {
    /* Hide regular nav and show burger menu */
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
        text-align: center;
        left: 0;
        z-index: 1000;
    }

    .burger-menu {
        display: flex;
    }

    /* Show the nav menu when active */
    #nav-links.active .nav-menu.active {
        display: flex;
    }
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
    .project:hover {
        transform: none; /* Disable hover effect */
    }

    .button:hover {
        background-color: #000000; /* Keep the original background color */
        transform: none; /* Disable hover effect */
    }

    .bi-arrow-down-circle:hover  {
        transform: none; /* Disable hover effect */
    }

}

