<nav id="floating-nav">
  <div class="nav-wrapper">
    <div class="nav-content">

      <a href="#" class="nav-link nav-project" id="link-prev" hidden>
        <i class="bi bi-arrow-left"></i>
        <span>Précédent</span>
      </a>

      <a href="index.php" class="nav-link nav-home" id="link1" aria-label="Accueil">
        <i class="bi bi-house"></i>
      </a>

      <a href="#" class="nav-link nav-project" id="link-next" hidden>
        <span>Suivant</span>
        <i class="bi bi-arrow-right"></i>
      </a>

    </div>
  </div>
</nav>