<nav id="floating-nav">
  <div class="nav-wrapper">
    <div class="nav-content">
      <div class="nav-icon" onclick="toggleActive(this)">
          <a class="nav-link" href="index.php"  >
            <i class="bi bi-house"></i>
          </a>
      </div>
      <div class="nav-icon" onclick="toggleActive(this)">
          <a href="about.php" class="nav-link">
          <i class="bi bi-person"></i>
          </a>
      </div>
      <div class="nav-icon">
          <a href="index.php#Work" class="nav-link">
          <i class="bi bi-pen"></i>
          </a>
      </div>
      <div class="separator"> </div>
      <div class="nav-icon">
          <a class="nav-link" target="_blank" href="https://drive.google.com/file/d/1Os1gjZnW4bBV3VlxIyzZhQj7twOIt31w/view?usp=drive_link">
          <i class="bi bi-file-earmark-text"></i>
          </a>
      </div>
      <div id="linkedin" class="nav-icon">
          <a target="_blank" href="https://linkedin.com/in/cmennesson" class="nav-link">
          <i class="bi bi-linkedin"></i>
          </a>
      </div>
      <div id="figma" class="nav-icon">
          <a target="_blank" href="https://www.figma.com/@cmennesson" class="nav-link">
          <img src="/Images/figma.svg" alt="Figma icon">
          </a>
      </div>
    </div>
  </div>
</nav>