<nav id="floating-nav">
  <div class="nav-wrapper">
    <div class="nav-content">
          <a class="nav-link" href="index" >
            <div class="nav-icon" >
            <i class="bi bi-house"></i>
          </div>

          </a>
      <a href="about" class="nav-link">
          <div class="nav-icon" >
          <i class="bi bi-person"></i>
          </div>
        </a>
      
          <a href="index#Work" class="nav-link">
            <div class="nav-icon">
            <i class="bi bi-pen"></i>
          </div>
          </a>
      
      <div class="separator"> </div>
      <a class="nav-link" target="_blank" href="https://drive.google.com/file/d/1Os1gjZnW4bBV3VlxIyzZhQj7twOIt31w/view?usp=drive_link">
        <div class="nav-icon">
  
        <i class="bi bi-file-earmark-text"></i>
      </div>
    </a>
    <a target="_blank" href="https://linkedin.com/in/cmennesson" class="nav-link">

      <div id="linkedin" class="nav-icon">
          <i class="bi bi-linkedin"></i>
      </div>
    </a>

          <a target="_blank" href="https://www.figma.com/@cmennesson" class="nav-link">
            <div id="figma" class="nav-icon">

            <img src="/Images/figma.svg" alt="Figma icon">
      </div>
    </a>

    </div>
  </div>
</nav>