

<footer class="footer-white" id="footer-white">
    <div class="footer-content">
        <div class="footer-border"></div> <!-- Liseret ajouté -->

        <p>Copyright &copy;
            <script>new Date().getFullYear()>2015&&document.write(+new Date().getFullYear());
            </script>
            Camille Mennesson
        </p>

        <ul class="footer-links">
            <li><a href="/index">Projets</a></li>
            <li><a href="/about">À propos</a></li>
            <li class="h1"><a href="/h1.html">Gallerie des &lt;h1&gt;</a></li>
            <li><a href="mailto:camille.mennesson@gmail.com">Contact</a></li>

            <li>
                <a 
                href="https://drive.google.com/drive/folders/1uY0pvMvqKhS42WKPFfMCixAK8Cv5AjEU"
                class="download-resume" target="_blank" alt="link to resume">
                Télécharger mon CV
            </a>
            </li>
        </ul>
        <div class="footer-icons">
            <a href="https://github.com/camillemennesson/"
            target="_blank"
            class="footer-icon"
            alt="github link">
            <i class="bi bi-github"></i>
            </a>
            <a href="https://linkedin.com/in/cmennesson"
            target="_blank"
            class="footer-icon"
            alt="linkedin link">
            <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.figma.com/@cmennesson"
            target="_blank"
            class="footer-icon"
            alt="figma link">
            <img src="/Images/figma.svg" alt="Figma" class="figma-icon">
            </a>
        </div>
    </div>
</footer>


<footer id="footer-black" class="footer-black">
    <div class="footer-content">
        <p>Copyright &copy; <script>new Date().getFullYear()>2015&&document.write(+new Date().getFullYear());</script>
            Camille Mennesson
        </p>
        <ul class="footer-links">
            <li><a href="/index">Projets</a></li>
            <li><a href="/about">À propos</a></li>
            <li class="h1"><a href="/h1.html">Gallerie des &lt;h1&gt;</a></li>
            <li><a href="mailto:camille.mennesson@gmail.com">Contact</a></li>
            <li>
                <a 
                href="https://drive.google.com/drive/folders/1uY0pvMvqKhS42WKPFfMCixAK8Cv5AjEU"
                class="download-resume" class="telecharger-cv" target="_blank" alt="resume link" >
                Télécharger mon CV            </a>
            </li>
        </ul>
        <div class="footer-icons">
            <a href="https://github.com/camillemennesson/"
            target="_blank"
            class="footer-icon"
            alt="github link">
            <i class="bi bi-github"></i>
            </a>
            <a href="https://linkedin.com/in/cmennesson"
            target="_blank"
            class="footer-icon"
            alt="linkedin link">
            <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.figma.com/@cmennesson"
            target="_blank"
            class="footer-icon"
            alt="figma link">
            <img src="/Images/figma.svg" alt="Figma icon" class="figma-icon">
            </a>
        </div>
    </div>
</footer>
 