
<div class="navbar-white" id="navbar-white">

    <nav class="nav-container">

        <div class="nav__data">
            <a href="index.php" class="nav__Logo">
                <img src="https://framerusercontent.com/images/6UMHSnwC3fA1yCrXEpBFuMAwMcs.png?scale-down-to=512" 
                 alt="Logo noir"  width="40" height="40">
            </a>  
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a class="nav__link" href="/index.php" >Projets</a> </li>
                <li><a class="nav__link" href="/about.php">À propos</a></li>
               <li> <a target="_blank" class="button" href="https://drive.google.com/file/d/1Os1gjZnW4bBV3VlxIyzZhQj7twOIt31w/view?usp=drive_link"
               >Télécharger mon CV</a></li>
               
            </ul>
        </div>

    </nav>

</div>

<div class="navbar-black" id="navbar-black">

    <nav class="nav-container">

        <div class="nav__data">
            <a href="index.php" class="nav__Logo">
                <img src="https://framerusercontent.com/images/6UMHSnwC3fA1yCrXEpBFuMAwMcs.png?scale-down-to=512" 
                alt="Logo noir"  width="40" height="40">
            </a>  
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a class="nav__link" href="/index.php" >Projets</a> </li>
                <li><a class="nav__link" href="/about.php">À propos</a></li>
               <li> <a target="_blank" class="button" href="https://drive.google.com/file/d/1Os1gjZnW4bBV3VlxIyzZhQj7twOIt31w/view?usp=drive_link"
               >Télécharger mon CV</a></li>
               
            </ul>
        </div>

    </nav>

</div>
