
<div class="navbar-white" id="navbar-white">
<!-- Logo -->
    <div class="nav__data">
            <a href="index" class="nav__Logo">
                <img src="images/camillemennesson.png" alt="Logo" class="logo-img">
            </a>  
    </div>

    <nav class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li><a class="nav__link" href="index#Work" >Projets</a> </li>
            <li><a class="nav__link" href="about">À propos</a></li>
            <li><a id="btn" class="nav__link" href="/btn.php">&ltbtn&gt</a></li>
            <li><a class="button" target="_blank" href="https://drive.google.com/file/d/1tiIu4o7SXfrFsMHR9MInZTcw9TVvFEQF/view">Télécharger mon CV</a></li>
        </ul>
    </nav>
</div>


<div class="navbar-black" id="navbar-black">
        <div class="nav__data">
            <a href="index" class="nav__Logo">
                <img src="images/logo-white.png" alt="CM Logo" class="logo-img">
            </a>  
        </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a class="nav__link" href="index#Work" >Projets</a> </li>
                <li><a class="nav__link" href="/about">À propos</a></li>
               <li> <a target="_blank" class="button" href="https://drive.google.com/file/d/1tiIu4o7SXfrFsMHR9MInZTcw9TVvFEQF/view"
               >Télécharger mon CV</a></li>
            </ul>
        </div>
</div>
