
/* Navigation Bar Styles */

#btn { 
  display: none; 
  }


.navbar-white{
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0px 4px 20px rgba(133, 133, 133, 0.2);
}

.navbar-black {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: var(--spotify-bg);
  color: #ffffff;
  padding: 1rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-black .button {
  background-color: var(--spotifypurple);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  align-items: center;
}


.nav__mobile  {
  width: 100%;
  height: 100vh;
  top: 100px;
  left: 0;
  right: 0;
} 

.nav__mobile  {
  max-height: 0; /* Hide menu by default */
  overflow: hidden; /* Prevent overflow */
  transition: max-height 0.5s ease; /* Smooth transition */
} 

.nav__list {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Use Flexbox for the list items */
  align-items: center;
  justify-content: center;
}

.nav__list li {
  margin-right: 20px; /* Space between items */
}

.nav__list a {
margin: 0;}

.nav__list li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.nav__link {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
  font-weight: 500; /* Optional: set font weight */
}

.nav__link:hover {
  color: #007bff; /* Change to your desired hover color */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial ; 
 }



.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

@media (max-width: 768px) {
.nav__menu {
  display: none;
} 
} 


/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}



/*Footer*/

.footer-white {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  color: #000000;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}

.footer-black {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #021323;
  color: #fafafa;
  padding: 20px;
  width: 100%;

}


.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1rem 0;

}


.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the links */
}

.footer-links .h1{
 display: none;
}

.footer-links li {
  margin: 0 10px; /* Space between links */
}

.footer-links a {
  color: #000000;
  text-decoration: none;
}

.footer-black .footer-links a {
  color: #dddddd;
}

.footer-links :hover {
  color: #007bff; /* Change to your desired hover color */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.footer-content {
  text-align: center; /* Center the text and icons */
}

.footer-links {
list-style: none;
display: flex;
justify-content: center; /* Center the links */
gap: 0rem; /* Space between links */
margin-bottom: 1rem; /* Space below the links */
}

.footer-icons {
display: flex;
justify-content: center; /* Center the icons */
gap: 0.8rem; /* Space between icons */
padding: 0;
margin: 0;
}

.footer-icon {
  text-decoration: none; /* Remove underline */
  color: #333; /* Default icon color */
  font-size: 1rem; /* Adjust icon size */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
  padding: 0;
  margin: 0;
}

#footer-white .footer-icon {
  color: #454545;
}

#footer-black .footer-icon {
  color: white;
}

#footer-black .figma-icon {
  width: 16px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
  filter: brightness(0) invert(1); /* This will turn the icon white */
  padding: 0;
  margin: 0;
}

#footer-white .figma-icon {
  width: 16px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {

.footer-links {
  flex-direction: column; /* Stack links vertically on small screens */
}

.footer-links li {
  margin: 5px 0; /* Vertical spacing on small screens */
}

.footer-links {
  flex-direction: column; /* Stack links vertically on small screens */
}
.footer-icons {
  margin-top: 1rem; /* Space above icons on small screens */
}

 }

 /*Back to top Btn*/

 #btn-back-to-top  {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: none;
  z-index: 1000;
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  background: none; /* Remove background */
  cursor: pointer; /* Change cursor to pointer */
}

#btn-back-to-top i {
 font-size: 40px;
 border: none;
 background: none;
 color: #ff4747;
 transition: transform 0.3s ease; /* Smooth transition for the transform property */
 box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Adding a blurred box shadow */
}


/*floating navigation*/

#floating-nav {
    bottom: 12px;
    flex: none;
    height: auto;
    left: 50%;
    position: fixed;
    transform: translate(-50%);
    width: auto;
    z-index: 2;
}

.nav-wrapper {
  display: flex;
  align-items:center;
  align-items: center;
  padding: 12px;
  position: relative;
  background-color: rgba(248, 248, 248, 0.84);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.84);
  border-radius: 24px;
  backdrop-filter: blur(12px);
  box-shadow: 0px 0px 32px 0px  rgba(0, 0, 0, 0.1);
}

.nav-content {
  display: flex;
  gap: 12px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-icon img{
  width: 22px;
  height: 22px;
  align-items: center;
}

.bi  {
  font-size: 20px;
}

.bi-person {
  font-size: 22px;
}

.nav-link {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 0.5px solid;
  border-color: #d0d0d0;
  box-shadow: 0px 2px 6.8px #0000001a;
  align-items: center;
  justify-content: center;
  position: relative;
}

a.nav-link {
line-height: 0;
}

.nav-link:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-wrapper .line {
  position: relative;
  width: 1px;
  height: 20px;
  object-fit: cover;
}

.nav-link.active {
  background-color: #000000;
  color: #ffffff;
}

.separator {
  width: 1px; /* Width of the line */
  height: 24px; /* Height of the line */
  background-color: #d0d0d0; /* Color of the line */
  margin: 0 8px; /* Space around the line */
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  #floating-nav {
      bottom: 20px; /* Adjust the position for mobile */
  }

  .nav-wrapper {
      flex-direction: row; /* Keep items in a row */
      justify-content: space-around; /* Space items evenly */
  }

  .nav-icon {
      flex: 1; /* Allow icons to take equal space */
      text-align: center; /* Center the icons */
  }

  #linkedin, #figma {
    display: none;
  }

  .separator {
      display: none; /* Hide separators on mobile for a cleaner look */
  }

  .nav__link:hover {
    color: inherit; /* Reset color to inherit */
    transform: none; /* Remove scaling effect */
}

}

body {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0.05;
  }

  100% {
      opacity: 1;
  }
}

/*BUTTONS PAGE*/

.responsive-container {
  display: grid;
  grid-column: span;
  grid-row: span;
  grid-template-columns: auto;
  justify-content: center;
  }

  .button-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   padding: 20px;
   background-color: #008fb3;
  }

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.slide-hover{display:inline-block;padding:.75rem 1.25rem;border-radius:10rem;color:#fff;text-transform:uppercase;font-size:1rem;letter-spacing:.15rem;transition:all .3s;position:relative;overflow:hidden;z-index:1}.slide-hover:after{content:"";position:absolute;bottom:0;left:0;width:100%;height:100%;background-color:#0cf;border-radius:10rem;z-index:-2}.slide-hover:before{content:"";position:absolute;bottom:0;left:0;width:0%;height:100%;background-color:#008fb3;transition:all .3s;border-radius:10rem;z-index:-1}.slide-hover:hover{color:#fff}.slide-hover:hover:before{width:100%}


