
  :root {
    --spotifypurple: rgba(151, 71, 255, 1);
    --spotify-bg: #021323;
    --purpleshadow: #C6C4FF;
    --purple: #E5E4FC;
    --yellow: #F8E8B5;
    --pink: #F5C7DE;
    --beigebackground: #F7F6EB;
  }



