
  :root {
    --spotifypurple: rgba(151, 71, 255, 1);
    --spotify-bg: #021323;
    --background-color: white;
    --text-color: #333;
    --white: #ffffff;
    --black: #222;
    --gray: #eee;
  }



